
div{
    display: flex;
    flex-wrap: wrap ;
    /* padding: 10px; */
    align-items: center;
    justify-content: center;
}
img {
    width: 370px;
    height: 300px;
}

p{
    color: red ;
font-size: large;
padding: 20px;
}
